@font-face {
  font-family: roboto;
  src: url('../../public/fonts/Roboto-VariableFont_wdth\,wght.ttf');
}
@font-face {
  font-family: Lato;
  src: url('../../public/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: poppins;
  src: url('../../public/fonts/Poppins-Regular.ttf');
}

@import "tailwindcss";

@theme {
  --color-secondary: #E6E6FA;
  --color-primary: #B0A2DA;
  --font-roboto: roboto, sans-serif;
  --font-lato: Lato, sans-serif;
  --font-poppins: poppins, sans-serif;
}

body{
  font-family: 'roboto', sans-serif;
}